@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto&display=swap');
*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #222;
}

body header {
    background-color: #3ddf7e;
    background-image: url('/img/ninjahead.svg');
    background-repeat: no-repeat;
    /* background-position-x: center;
    background-position-y: bottom; */
    background-position: center bottom;
    background-size: 25%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body header img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 5rem;
}

body main {
    max-width: 1000px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}